* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background-color: ;
  color: black;
}
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
header {
  max-width: 1140px;
  margin: 0 auto;
  height: 71;
  background-color: aliceblue;
}
/* shared style */
.display {
  display: flex;
  justify-content: space-between;
  /* text-align: center; */
  align-items: center;
}
.home {
  font-family: "Agbalumo", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #322432;
  height: 1.5em;
}
li {
  margin-right: 48px;
}
.shop-about {
  color: #8987a1;
}
@media screen and (max-width: 393px) {
  ul > li {
    display: none;
  }
  header {
    background-color: aqua;
  }
}
main {
  max-width: 1140px;
  margin: 0 auto;
 
/* banner font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.banner-font{
  font-family: "Noto Serif", serif;
 font-size: 4rem;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.primary{
    color:#E95A08 ;
}
.left-content{
    margin: 162px auto 0 0;
}
.right-content{
    margin-top: 106px;
}
.banner{
 max-width: 1140px;
  margin-top: 120px;
  height: 461px;
  background-color: aliceblue;
}